<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir senha</title>
</head>
<body>
<h1>Olá, <span th:text="${username}">Username</span></h1>

<p>
    Recebemos uma solicitação para redefinir sua senha. Clique no link abaixo para definir uma nova senha. Observe que este link expirará em 15 minutos:
</p>

<p>
    <a th:href="${resetPasswordLink}" target="_blank">Reset Password</a>
</p>

<p>
    Se você não solicitou uma redefinição de senha, ignore este e-mail ou entre em contato com a nossa equipe de suporte.
</p>
</body>
</html>